<link rel="stylesheet" type="text/css" href="../css/account.css" />
<div class="acc-block">
	<span class="acc-title">Nombre:</span>
	<span class="acc-fullname"></span>
</div>
<div class="acc-block">
	<span class="acc-title">Usuario:</span>
	<span class="acc-login"></span>
</div>
<div class="acc-block">
	<span class="acc-title">Email:</span>
	<span class="acc-email"></span>
</div>
<div class="acc-block">
	<span class="acc-title">Contraseña:</span>
	<span class="acc-password"></span>
</div>
<div class="acc-block">
	<span class="acc-title">Es Administrador:</span>
	<span class="acc-isadmin"></span>
</div>
<div class="acc-block">
	<h3 class="acc-borrowed">T&iacutetulos ya pedidos</h3>
</div>
<div class="acc-block borrowed">
</div>