<link rel="stylesheet" type="text/css" href="../css/borrow.css" />
<div class="borrow-banner">
	<img/>
</div>
<div class="portrait">
	<img/>
</div>
<div class="bbar">
    <div class="binfo">
        <span class="btitle"></span>
        <span class="bcount-text">Copias disponibles: </span>
        <span class="bcount"></span>
        <span class="bid"></span>
    </div>
    <div class="baction">
        <div>
            <span class="bprice"></span>
        </div>
        <input type="submit" value="Confirmar">    
    </div>
</div>
<div class="bbar bmedia">
    <a class="bvideo" target="_blank">Video</a>
    <a class="bgame" target="_blank">Juego</a>
</div>