<div class="cmodal">
	<div class="cmodal-fig">
		<figure>
			<img src="" />
			<figcaption>
				<span class="cmodal-avail"></span>
				<span class="cmodal-borrow">Pedir</span>
			</figcaption>
		</figure>
	</div>
	<div class="cmodal-info">
		<div><span class="cmodal-key cmodal-title"></span></div>
		<div><span class="cmodal-key">Creador:</span><span class="cmodal-creator"></span></div>
		<div><span class="cmodal-key">Género:</span><span class="cmodal-genre"></span></div>
		<div><span class="cmodal-key">Serie:</span><span class="cmodal-serie"></span></div>
		<div><span class="cmodal-key">Publicista:</span><span class="cmodal-publisher"></span></div>
		<div><span class="cmodal-key">Precio:</span><span class="cmodal-price"></span></div>
	</div>
</div>