<link rel="stylesheet" type="text/css" href="../css/footer.css" />
<footer>
  <div class="top">
	 <div class="inner">
  <div class="left quarter company">
  <h1>Master of <span>//</span><br><span>//</span> Comics</h1>
	 <ul>
		<li><a>Superman</a></li>
		<li><a>Spiderman</a></li>
		<li><a>Ironman</a></li>
		<li><a>Batman</a></li>
		<li><a>Wolverine</a></li>
		<li><a>Flash</a></li>
	 </ul>
  </div>
  <div class="left quarter">
	 <h4>SOCIAL</h4>
	 <ul>
		<li><a>Facebook</a></li>
		<li><a>Twitter</a></li>
		<li><a>Instagram</a></li>
		<li><a>G+</a></li>
		<li><a>Printerest</a></li>
		<li><a>YouTube</a></li>
	 </ul>
  </div>
  <div class="left quarter">
	 <h4>SITIO</h4>
	 <ul>
		<li><a>Mapa del sitio</a></li>
		<li><a>Marvel</a></li>
		<li><a>DC</a></li>
		<li><a>Otros</a></li>
		<li><a>Videos</a></li>
		<li><a>Noticias</a></li>
	 </ul>
  </div>
  <div class="left quarter">
	 <h4>AYUDA</h4>
	 <ul>
		<li><a>Disclaimer</a></li>
		<li><a>TOS</a></li>
		<li><a>Quienes somos</a></li>
		<li><a>Ayuda/FAQs</a></li>
		<li><a>Advertising</a></li>
		<li><a>Trabajo</a></li>
	 </ul>
  </div>
	 </div>
  </div>
  <div class="bottom">
	 <div class="inner">
	 <div class="left half">
		<p>Ingenieria de Progreso &copy; 2015</p>
	 </div>
	 <div class="right half">
		<p>Proyecto del curso Web UI Modulo 1</p>
	 </div>
  </div>
  </div>
</footer>