<link rel="stylesheet" type="text/css" href="../css/hnav.css" />
<ul class="ca-menu">
    <li class="nav-home">
        <a href="#">
            <span class="ca-icon">J</span>
            <div class="ca-content">
                <h2 class="ca-main">Inicio</h2>
                <h3 class="ca-sub">Donde todo comienza</h3>
            </div>
        </a>
    </li>
    <li class="nav-about">
        <a href="#">
            <span class="ca-icon">p</span>
            <div class="ca-content">
                <h2 class="ca-main">Nuestro Guión</h2>
                <h3 class="ca-sub">El camino a la Justicia</h3>
            </div>
        </a>
    </li>
    <li class="nav-search">
        <a href="#">
            <span class="ca-icon">L</span>
            <div class="ca-content">
                <h2 class="ca-main">Sigue la luz</h2>
                <h3 class="ca-sub">Busca dentro tuyo</h3>
            </div>
        </a>
    </li>
    <li class="nav-loan">
        <a href="#">
            <span class="ca-icon">*</span>
            <div class="ca-content">
                <h2 class="ca-main">Soy el Amo</h2>
                <h3 class="ca-sub">Pide préstamos</h3>
            </div>
        </a>
    </li>
    <li class="nav-news">
        <a href="#">
            <span class="ca-icon">R</span>
            <div class="ca-content">
                <h2 class="ca-main">El porvenir</h2>
                <h3 class="ca-sub">24/7 de noticias</h3>
            </div>
        </a>
    </li>
</ul>